:root {
  --fontSize: 1rem;
  --mainColor: #10569c;
  --grey: #c3c3c3;
  --highlightColor: hwb(190, 35%, 20%);
}

body {
  color: var(--mainColor);

  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.5);
  padding: calc((var(--fontSize) / 2) + 1px);
}

h1,
p {
  display: flex;
}

.next {
	color: var(--grey);
}